.message {
    width: 500px;
    border-top: 1px solid lightseagreen;
    border-bottom: 1px solid lightseagreen;
    display: block;
    padding: 20px 7px;
  }
  
  .message-header {
    display: flex;
  }
  
  .message-header-text_block {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  
  .message-header-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
    animation: App-logo-spin infinite 20s linear;
  }
  
  .message-header-title {
    font-size: 12px;
  }
  
  
  .message-header-date {
    font-size: 12px;
    color: lightseagreen;
    opacity: 0.5;
  }

  .message-header-button {
    position: relative;
    border: 1px solid;
    border-radius: 10px;
    height: 30px;
    margin-left: auto;
    align-self: center;
    transition: .3s;
    cursor: pointer;
    width: 30px;
  }

  .message-header-button.is-active {
    color: red;
  }

  .message-header-button::after {
    content: '♥';
    color: inherit;
    position: absolute;
    left: 3px;
    top: -2px;
    width: 10px;
    height: 10px;
    transition: .3s;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }